// ..........................import file....................................
@import "../Css/font.css";

// ..........................declare variable..............................
@padding-left: 360px;
@padding-right: 360px;
@color-default: #fff;
@color-hover: #0056b3;
@color-select: #dd2f31;
@color-footer: #222;
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.position{
    margin: 0 auto;
    max-width: 1170px;
}
.remove-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.remove-margin{
    margin-left: 0 !important;
    margin-right: 0 !important;
}


// .........................style for body.................................
*, *::after, *::before {padding: 0;margin: 0;box-sizing: border-box;}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif !important;
};

ul {
    list-style: none !important;
}
a {
    text-decoration: none !important;
}


// ..........................style for header................................
.header {
    height: 100px;
    padding-top: 23px;
    background-color: rgba(0, 0, 0, 0.6);
    
    // .......................style for logo.......................
    &__logo{
        img {
            width: 80%;
        }
    }

    // ....................style for navigation bar..........................
    ul {
        height: 100%;
        li {
            height: 100%;
            display: flex;
            align-items: center;
            a {
                color: @color-default;
                font-size: 16px;
            } 
            a:hover{
                color: @color-hover;
            }
        }
    }

    // ...................style for utilities(search, cart, account)..................................
    &__utilities {
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: @color-default;

        // ..................style for a utility....................................
        &__icon {
            width: 33%;
            display: flex;
            justify-content: center;
            a {
                color: @color-default;
            }
            a:hover {
                color: @color-hover;
            }
        }
    }
}

// .....................style for banner.........................................
.banner {
    position: relative;
    top: -100px;
    z-index: -1;
    height: 750px;
    background-image: url("../imgs/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // ....................style for content banner................................
    &__contents {
        color: @color-default;
        padding-top: 300px;
        h1 {
            font-size: 60px;
            padding-bottom: 15px;
            font-weight: 700;
        }
        h3 {
            font-size: 40px;
            padding-bottom: 15px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
            padding-bottom: 30px;
        }
        // ........................style for button shop...............................
        &__button{
            width: 170px;
            height: 50px;
            .flex-center;
            border: 1px solid @color-default;
            text-transform: uppercase;
            a {
                color: @color-default;
            }
        }  

    }
}

// ...........................style for catergory product.....................................
.category-product {
    .position;
    position: relative;
    top: -180px;
    height: 500px;
    display: flex;
    background-color: @color-default;
    // .........................style for one category product.................................
    &__group{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        &--up{
            height: 250px;
            text-align: center;
            box-shadow: 0 0 1px 2px rgba(211, 211, 211, 0.404);
        }
        &--down{
            height: 250px;
            text-align: center;
            box-shadow: 0 0 1px 2px rgba(211, 211, 211, 0.404);
            h4 {
                font-size: 18px;
                margin-top: 30px;
                text-transform: uppercase;
                font-weight: 700;
            }
            p {
                font-size: 14px;
                margin: 30px;
                margin-bottom: 0;
            }
        }
        &--image {
            width: 100%;
            height: 100%;
        }
        &--icon {
            margin-top: 30px;
        }
    }
}

// ..........................style for product.................................................
.product {
    position: relative;
    top: -80px;
    
    // ........................style for top bar product....................................
    &__tab-bar {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        &--select{
            padding-right: 15px;
            padding-left: 15px;
            position: relative;

            h3 {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
            }
        }
        &--select::after{
            content: '';
            position: absolute;
            bottom: -11px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: @color-select;
            display: none;
        }
        &--select:hover{
            color: @color-select;
            &::after{
                display: block;
            }
        }
    }

    // ...............................style for a product............................
    &__sub-product {
        position: relative;
        box-sizing: border-box;;
        height: 330px;
        margin-top: 40px;
        border: 1px solid rgba(128, 128, 128, 0); 


        a {
            text-decoration: none !important;
            p {
                color: black;
                font-weight: 400;
            }
        }

        // ............................global style...................................
        .product-select{
            position: absolute;
            width: 35px;
            height: 35px;
            top: 20px;
            right: 20px;
            border: 1px solid lightgray;
            font-size: 14px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: @color-default;
            .flex-center;
            display: none;
        }
        .product-select-hover{
            color: @color-default;
            background-color: @color-select;
            border-color: @color-select;
        }

        // ..........................style for image product...........................
        &__image{
            width: 100%;
            height: 70%;
            .flex-center;
            overflow: hidden;
        }
        &__title{
            width: 100%;
            height: 30%;
            padding: 20px;
          }

        &__cart{
            .product-select;
            a {
                color: gray;
            }
        }
        &__views{
            .product-select;
            top: 70px;
            a {
                color: gray;
            }
        }
        &__like{
            .product-select;
            top: 120px;
            a {
                color: gray;
            }
        }
        &__exchange{
            .product-select;
            top: 170px;
            a {
                color: gray;
            }
        }
        &__cart:hover{
            .product-select-hover;
            a {
                color: @color-default;
            }
        }
        &__views:hover{
            .product-select-hover;
            a {
                color: @color-default;
            }
        }
        &__like:hover{
            .product-select-hover;
            a {
                color: @color-default;
            }
        }
        &__exchange:hover{
            .product-select-hover;
            a {
                color: @color-default;
            }
        }

        &:hover {
            box-shadow: 0 0 1px 2px rgba(211, 211, 211, 0.404);  
            border-radius: 1px; 

        }
        &:hover &__cart,
        &:hover &__views, 
        &:hover &__like,
        &:hover &__exchange{
            display: flex;
        }
    }
}

// .............................style for client say......................................
.client-say{
    margin-bottom: 100px;
    margin-top: 25px;
    text-align: center;
    overflow: hidden;
    .container {
        overflow: hidden;
    }
    &__title{
        margin-bottom: 50px;
        h1 {
            font-size: 36px;
            font-weight: 700;
        }
    }
    
    &__slider{
        position: relative;
        width: 300%;
        display: flex;
        &__contents{
            width: 100%;
            &__image{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            &__comment{
                width: 60%;
                margin: 0 auto;
                font-size: 18px;
                line-height: 1.8;
                margin-bottom: 30px;
            }
            &__author{
                margin-bottom: 40px;
                h3{
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
    &__select{
        display: flex;
        width: 60px;
        margin: 0 auto;
        justify-content: space-between;
        &-1{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: gray;
        }
    }
}
// ...........................style for brand..........................
.brand {
    .position;
    height: 150px;
    border-top: 1px solid lightgray;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    &__one-brand{
        width: 16.6%;
        .flex-center;
    }
}
// ...........................style for footer.........................
.footer{
    background-color: @color-footer;
    text-align: center;
    &__about {
        padding-top: 100px;
        padding-bottom: 40px;
        color: gray;
        border-bottom: 1px solid gray;

        &__icon {
            padding-bottom: 35px;
        }
        &__intro {
            width: 70%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 1.8;
            padding-bottom: 20px;
        }
        &__contact{
            width: 20%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;

            &--facebook,
            &--twitter, 
            &--google, 
            &--youtube{
                width: 20%;
                font-size: 18px;
                a {
                    color: gray;
                }
            }
        }
    }
    &__navigation{
        padding-top: 85px;
        text-align: left;
        h3 {
            font-size: 18px;
            color: white;
            font-weight: 700;
            padding-bottom: 25px;
        }
        ul {
            li {
                font-size: 14px;
                padding-bottom: 8px;

                a{
                    color: gray;
                }
            }
        }
    }
}
//  ........................style for copyright........................
.copyright {
    color: gray;
    background-color: black;
    font-size: 14px;
    p {
        text-align: center;
        padding-top: 20px;
    }
}

//  ........................perfect pixel.............................
@media screen and (max-width: 640px){
    .header {
        &__logo{
            img{
                width: 100%;
            }
        }
    }
    .category-product{
        &__group{
            &--icon{
                margin-top: 15px;
            }
            &--down{
                h4{
                    margin-top: 15px;
                    margin-bottom: 0;
                }
            }
        }
    }
    .product{
        &__sub-product{
            &__title{
                p{
                    text-align: center;
                }
            }
        }
    }
    .brand{
        &__one-brand{
            img{
                width: 100%;
            }
        }
    }
}
@media screen and (min-width: 1901px){
    .container {
        max-width: 1170px !important;
    }
    // .......................style for header..........................
    .header {
        // .......................style for logo.......................
        &__logo{
            img {
                width: 100%;
            }
        }

        &__nav{
            height: 100%;
            padding-top: 5px;
            padding-left: 79px;
            &--modify{
                margin-right: 20px;
            }
        }
            // ...................style for utilities..................................
            &__utilities {
                padding: 18px 0 0 0;

                &__icon {
                    width: 33%;
                    display: flex;
                    justify-content: center;
                    padding: 0 15px;
                    a {
                        color: @color-default;
                    }
                    a:hover {
                        color: @color-hover;
                    }
                }
            }
    }
    // .............................style for banner......................................
    .banner {
        height: 950px;

        &__contents {
            padding-top: 303px;
            h1 {
                margin-left: -2px;
                padding-bottom: 0;
                margin-bottom: 5px;
            }
            h3 {
                margin-left: -4px;
                margin-bottom: 12px;
            }
            p{
                line-height: 1.8;
                margin-bottom: 20px;
            }
            &__button{
                width: 170px;
                height: 50px;
                font-size: 14px;
            }  
    
        }
    }
    // .............................style for category-product.........................
    .category-product {
        &__group{
            &--down{
                h4{
                    margin-top: 30px;
                    margin-left: 4px;
                }
                p {
                    margin-top: 20px;
                    line-height: 1.8;
                }
            }
        }
    }
    // ................................style for product.................................
    .product {
        &__tab-bar{
            border: none;
            &--select{
                padding-left: 19px;
            }
            
        }

        
        &__sub-product{
            height: 329px;
            margin-top: 50px;
            margin-right: 21px;
            &__title{
                padding: 15px;
                padding-top: 24px;
                padding-left: 20px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    // ......................style for client say .........................
    .client-say {
        margin-top: 15px;
        &__slider
        {
            &__contents{
                &__image{
                    margin-bottom: 20px;
                }
            }
        }
    }
    // .............................style for footer ........................
    .footer{
        &__about{
            padding-bottom: 52px;
        }
        &__navigation{
            padding-top: 75px;
            padding-bottom: 10px;
            h3{
                letter-spacing: 1.8px;
            }
            ul{
                li{
                    padding-bottom: 3px;
                }
            }
        }
    }
    // .................style for copyright.................
    .copyright{
        p{
            padding-top: 15px;
        }
    }
    
}


